:root{
  --primary: #b6895b;
  --bg: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth ;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #fff;
  /* min-height: 5000px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #4d3926;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.navbar .nav-logo{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: italic;
}

.navbar .nav-logo span{
  color: var(--primary);
}

.navbar .navbar-nav a{
  color: #fff;
  display: inline-block;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
  color: var(--primary);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a::after{
  content: '';
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover::after{
  transform: scaleX(0.6);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#menu{
  display: none;
}

/* Hero section */
.hero{
  min-height: 100vh;
  display: flex;
  background-image: url('../img//header.jpg');
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgba(1,1,3,1) 8%, rgba(255,255,255, 0) 80%);
}

.hero .content{
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  color: #fff;
  font-size: 5em;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span{
  color: var(--primary);
}

.hero .content p {
  max-width: 90%;
  color: #fff;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta{
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* About & menu & contact section */
.about, .menu, .contact{
  /* height: 100vh; */
  padding: 8rem 7% 1.4rem;
}

.about h2, .menu h2, .contact h2 {
  font-size: 2.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about h2 span, .menu h2 span, .contact h2 span{
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img{
  width: 100%;
}

.about .row .about-content{
  flex: 1 1 35rem;
  padding: 0 1.5rem;
}

.about .row .about-content h3{
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .about-content p {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* menu & contact*/
.menu p, .contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card{
  text-align: center;
  padding-bottom: 2rem;
}

.menu .row .menu-card img{
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
  width: 80%;
}

.menu .row .menu-card .menu-title{
  margin: 1rem auto;
}

/* contact */
.contact .row{
  display: flex;
  background-color: #222;
  margin-top: 2rem;
}

.contact .row .map{
  flex: 1 1 45rem;
  width: 100%;
}

.contact .row form{
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form .input-group{
  display: flex;
  align-items: center;
  padding-left: 2rem;
  margin-top: 2rem;
  background-color: var(--bg);
  border: 1px solid #eee;
}

.contact .row form .input-group input{
  background: none;
  padding: 2rem;
  font-size: 1.5rem;
  width: 100%;
  color: #fff;
}

.contact .row form .btn{
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-weight: 700;
  background-color: var(--primary);
  font-size: 1.4rem;
  cursor: pointer;
}

footer{
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 2rem;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a{
  color: #fff;
  margin: 1rem;
}

footer .social a:hover, footer .links a:hover{
  color: var(--bg);
}

footer .links{
  margin-bottom: 1.4rem;
}

footer .links a{
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit{
  font-size: 0.8rem;
}

footer .credit a{
  color: var(--bg);
}

/* media queries */
/* Laptop/PC */
@media (max-width: 1366px) {
  html{
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html{
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    transition: .3s;
  }

  .navbar .navbar-nav.active{
    right: 0;
  } 

  .navbar .navbar-nav a{
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after{
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after{
    transform: scaleX(0.2);
  }

  /* About */
  .about .row{
    flex-wrap: wrap;
  }

  .about .row .about-img img{
    height: 24rem;
    object-fit: cover;
    background-position: center;
  }

  .about .row .about-content h3{
    font-size: 2rem;
    margin-top: 1rem;
  }

  .about .row .about-content p{
    font-size: 1.6rem;
  }

  /* menu */
  .menu p{
    font-size: 1.2rem;
  }

  /* contact */
  .contact .row{
    flex-wrap: wrap;
  }

  .contact .row .map{
    height: 30rem;
  }

  .contact .row form{
    padding-top: 1rem;
  }
}

/* Handphone */
@media (max-width: 450px) {
  html{
    font-size: 55%;
  }
}